version: 2

.job_template: &job_template
  machine:
    enabled: true
    docker_layer_caching: true
  steps:
    - checkout
    - run:
        command: ./circle-test.sh

jobs:
  amd64:
    <<: *job_template
  arm64:
    <<: *job_template
  armhf:
    <<: *job_template
  armel:
    <<: *job_template
  deploy:
    require:
      - amd64
      - arm64
      - armhf
      - armel
    machine:
      enabled: true
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          command: ./circle-deploy.sh



workflows:
  version: 2
  build:
    jobs:
      - amd64:
          filters:
            tags:
              only: /^v.*/
      - aarch64:
          filters:
            tags:
              only: /^v.*/
      - armhf:
          filters:
            tags:
              only: /^v.*/
      - armel:
          filters:
            tags:
              only: /^v.*/
            #branches:
            #  only:
            #    - dev
            #    - master
            #    - release
            #    - prerelease
